# Environnement virtuel
venv/
__pycache__/
*.py[cod]
*.class

# Fichiers locaux
*.sqlite3
*.pyc
.env
.env.local

# Fichiers média et statiques
/media/
/static/
/staticfiles/
/logs/

# Fichiers de base de données
*.db

# Fichiers système
.DS_Store
Thumbs.db
